version: "3"

services:
    backend-db:
        image: postgres:latest
        environment:
            POSTGRES_PASSWORD: admin
        volumes:
            - db-data:/var/lib/postgresql/data
        networks:
            - backend
        ports:
            - 5432:5432
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

    backend:
        build:
            dockerfile: Dockerfile.dev
            context: Backend
        depends_on:
            - backend-db
        volumes:
            - "./Backend:/usr/src/app/"
        networks:
            - backend
        ports:
            - 3001:3001
            - 5858:5858

    dashboard:
        build:
            context: Frontend/dashboard
            dockerfile: Dockerfile.dev
        volumes:
            - "./Frontend/dashboard:/usr/src/app/"
        ports:
            - "8080:8080"
            - "5959:5959"
        environment:
            DANGEROUSLY_DISABLE_HOST_CHECK: "true"

    apache:
        build:
            context: httpd
            dockerfile: Dockerfile
        ports:
            - "8888:80"

networks:
    backend:

volumes:
    db-data:
